#footer {
  background-color: #f8f8f8;
  padding: 30px 0;
  color: #5e6a75;
  font-size: 14px;
  box-shadow: 0 -5px 300px rgba(0, 0, 0, 0.1); /* Sombra na parte superior */
}

#footer .container-fluid {
  max-width: 1200px;
  margin: 0 auto;
}

#footer h5 {
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 15px;
  color: orange; /* Cor laranja para os títulos */
}

#footer ul li {
  margin-bottom: 10px;
}

#footer a {
  color: #5e6a75;
  text-decoration: none;
}

#footer a:hover {
  color: orange; /* Cor laranja para os links ao passar o mouse */
}

#footer address {
  margin-bottom: 15px;
}

#footer .social a {
  display: inline-block;
  width: 36px;
  height: 36px;
  line-height: 36px;
  text-align: center;
  background-color: #f5f5f5;
  color: #5e6a75;
  border-radius: 50%;
  margin-right: 10px;
  transition: background-color 0.3s ease;
}

#footer .social a:hover {
  background-color: #5e6a75;
  color: #fff;
}

#footer .centro {
  text-align: center;
}

.row {
  display: flex;
  flex-wrap: nowrap;
}

#footer .row.centro {
  text-align: center;
}

#footer hr {
  border-top: 1px solid #e9e9e9;
  margin-top: 30px;
  margin-bottom: 30px;
}

@media (max-width: 768px) {
  #footer {
    padding: 20px 0; /* Reduzido o padding para 20px na parte superior e inferior em dispositivos móveis */
  }

  #footer img{
    display: none;
  }

  #footer .container-fluid {
    padding-left: 15px; /* Adicionado um espaçamento interno de 15px na esquerda em dispositivos móveis */
    padding-right: 15px; /* Adicionado um espaçamento interno de 15px na direita em dispositivos móveis */
  }

  #footer h5 {
    font-size: 16px; /* Reduzido o tamanho da fonte para 16px em dispositivos móveis */
  }

  #footer ul li {
    margin-bottom: 8px; /* Reduzido o espaçamento inferior para 8px em dispositivos móveis */
  }

  #footer .social a {
    width: 32px; /* Reduzido a largura para 32px em dispositivos móveis */
    height: 32px; /* Reduzido a altura para 32px em dispositivos móveis */
    line-height: 32px; /* Reduzido a altura da linha para 32px em dispositivos móveis */
    font-size: 14px; /* Reduzido o tamanho da fonte para 14px em dispositivos móveis */
    margin-right: 8px; /* Reduzido o espaçamento direito para 8px em dispositivos móveis */
  }

  #footer .row {
    flex-wrap: wrap; /* Alterado para quebrar a linha em dispositivos móveis */
  }

  #footer hr {
    margin-top: 20px; /* Reduzido o espaçamento superior para 20px em dispositivos móveis */
    margin-bottom: 20px; /* Reduzido o espaçamento inferior para 20px em dispositivos móveis */
  }
}
